altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
packaging
pandas
Pillow
protobuf
pyarrow
pydeck
Pygments
Pympler
python-dateutil==2.9.0.post0
python-dotenv
pytz
pytz-deprecation-shim==0.1.0.post0
pywin32
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
